.App {
   text-align: center;
   background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSIC3tNcVDs63oTcRq_otk-eFYSDvsK_cqzIWDtbp5wVfRiHA8Nh3C8MofdTViWguld9M&usqp=CAU');
   background-size: cover;
   background-repeat: no-repeat;
}
